@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    margin: 0;
    padding: 0;
  
}
.Super-box-administracion{
    background: #c3c3c3;


}

.Formulario{


    margin: 0;
    padding: 0 0 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 


}
.body-table {
    margin-top: 5vh;

 
}
.body-table tbody{
    overflow-y: hidden;
}

.table_info {
   border-collapse: collapse;
 margin-top: 8vh;


}
.table_info th{
    background: #222831;
   padding: 5px;
   text-align: center;
 border-left: 1px solid #ffffff;
   color: #ffffff;
   font-size: 18px;
   font-family: 'Play', sans-serif;

}
.table_info_descripcion {
    width: 50%;
}

.table_info td{
    background: #EEEEEE;
     color: #000000;
     padding: 5px;
     transition: 0.5s;
     text-align: center;
     font-size: 16px;
     font-family: 'Play', sans-serif;
     border: 1px solid #000000;
}
.table_info td:hover{
    background: #272727;
    transition: 0.2s;
    color: #ffffff;
}

.table_info 
.td-con-stock {
    background: rgb(94, 255, 0);

  }
  
.table_info
.td-sin-stock {
    background: red; 
   
  }

.box-button-action button{

 font-size: 18px;

 padding: 15px;
 cursor: pointer;
 margin: 10px;
 border-radius: 10px;
 font-family: 'Play', sans-serif;
}
.box-button-action-delete{
    color: #ffffff;
    border: none;
  background:#0B2447;

 
}
.box-button-action-edit{
    color: #ffffff;
    border: none;
  background:#2C74B3;

}
.box-button-action-delete:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px #174587, 0 10px 10px #ffffff;
    transition: 0.3s;
 
}

.box-button-action-edit:hover{
    transform: translateY(-5px);
    background:linear-gradient(#3ca4ff,#236094);
  box-shadow: 0px 5px 0px #2c79bc, 0 10px 10px #ffffff;
    transition: 0.3s;
 
}
.box-button-action-edit:active{
    transform: translateY(5px);
  transition: 0.09s;
 
}
.box-button-action-delete:active{
    transform: translateY(5px);
    transition: 0.09s;
 
}
.box-edit{

  
  
    width: 0;
    height: 100%;
    position: fixed;
    top: 11vh;
    left: 0;
    background-color: #000000ef;
    overflow-x: hidden;
    padding: 10px;
    border-right: 1px solid #ffffff; 
    transition: 0.5s;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
 
} 
.box-edit.open{
  width: 350px;
  transition: 0.5s;
 
}
.edit-form{
    margin-top: 2vh;
}
.edit-title{
    display: flex;
    justify-content: center;
    align-items: center;

}


.box-edit h4{
   text-align: center;
    font-size: 25px;
padding: 10px;
color: #ffffff;
text-shadow: 0 0 5px #ffffff;

}

.box-edit input{
    width: 90%;
    padding: 10px;
   margin-top: 1vh;
  border-radius: 10px;
  background:#000000;
  color: #ffffff;
  border:1px solid #ffffff;
  transition: 0.2s;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}
.box-edit select{
    width: 96%;
    padding: 10px;
   margin-top: 1vh;
  border-radius: 10px;
  background:#000000;
  color: #ffffff;
  border:1px solid #ffffff;
  transition: 0.2s;
  font-size: 17px;
  font-family: 'Lato', sans-serif;   
}
.box-edit input:focus{
    border-radius: 30px;
    background: #ffffff;
    color: #000000;
    transition: 0.2s;
}
.box-edit label{
    font-size: 20px;
  color:#00fbff;
  text-align: center;
    text-shadow: 0 0 3px #00fbff;
}
.box-edit textarea{
    width: 95%;
    height: 10vh;
    border-radius: 5px;
    background: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 17px;
    
}
.box-edit-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box-edit-button button{
    padding: 10px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background: none;

    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
  background:#0B2447;
    margin-top: 2vh;
}
.box-edit-button button:hover{
    background: #ffffff;
    color: #000000;

    box-shadow: 3px 3px 0px #9a9a9a;
}
.box-edit-button button:active{
    transform: translateY(5px);
    box-shadow: 1px 1px 0px #9a9a9a;
}
@media screen and (max-width:1280px) {

}

@media screen and (max-width:920px) {
  
}
@media screen and (max-width:576px){
  
    .body-table {
        margin-top: 8vh;
        width: 100%;
    }
    .table_info th{
      
       padding: 0px;
       font-size: 12px;
  
    
    }
 
    .table_info td{
      
         padding: 0px;

         font-size: 10px;

    }   
    .box-button-action button{

        font-size: 12px;
       
        padding: 5px;
        cursor: pointer;
        margin: 10px;
        border-radius: 5px;
        font-family: 'Play', sans-serif;
       }
}
