
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


.box-agregarProducto{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
   justify-content: center;
   align-items: center;
  
}
.Form-Agregarproducto{
    width: 80vh;
 background: #22283152;
 padding: 20px;
 border: 2px solid #ffffff;
 border-radius: 10px;
 backdrop-filter: blur(20px);
}
.Form-Agregarproducto input{
    width: 95%;
    padding: 10px;
    margin-top: 2vh;
    font-size: 18px;
    font-family: 'Play', sans-serif;
    border-radius: 10px;
    border: none;
    transition: .5s;
    background: #EEEEEE;
    color: #000000;
    border:2px #ffffff solid;
    font-family: 'Play', sans-serif;
  
}
.Form-Agregarproducto select{
    width: 100%;
    padding: 10px;
    margin-top: 2vh;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
    border: none;
    transition: .5s;
    background: #EEEEEE;
    color: #000000;
    border:2px #ffffff solid;
    font-family: 'Play', sans-serif;
  
}
.Form-Agregarproducto input::placeholder{
    text-align: center;
    color: #000000;
}

.Form-Agregarproducto input:focus{
    border-radius: 30px;
    background: #ffffff;
    color: #000000;
    transition: .5s;
}
.Form-Agregarproducto-title{
    text-align: center;
    font-size: 25px;
    color:#ffffff;
    margin-bottom: 3vh;
    font-family: 'Play', sans-serif;
}
.box-agregar-button{
display: flex;
justify-content: center;
align-items: center;
margin-top: 3vh;
}
.box-agregar-button button{
    padding: 10px;
    font-size: 20px;
    background: #E4F1FF;
    border:1px solid #ffffff;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    font-family: 'Play', sans-serif;
}
