.App {
    text-align: center;
  }
  
  #toggleButton {
  
 background:none;
 border:none;
    font-size: 50px;
    z-index: 999;
    cursor: pointer;
  }
  
  .navbar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 13vh;
    left: 0;
    background-color: #000000cf;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 10px;
    border-right: 1px solid #ffffff;
 

  }
  
  .navbar.open {
    width: 250px;
  }
  
  .navbar a {
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    color: orange;
  }
  
  .content {
    margin-left: 0;
    padding: 20px;
    transition: 0.3s;
  }
  
  .content.open {
    margin-left: 250px;
  }
 
  .boton-nav button:hover{
   filter: drop-shadow(0 0 3px #fff);
  
  }
  .button-delete{
    font-size: 25px;
  }
  .quantityP{
    position: absolute;
    font-size: 20px;
    margin-left: 2.5vh;
    margin-top: 0.5vh;
    z-index: 10;
  }
  .animate {
    animation: bounce 1s infinite; 
  }
  
  .Box-total{
 
    background: #ecececf0;

  }
  .box-total-product{
background: #fffffff0;   

  }
  .box-carrito{
   
    overflow-y: hidden; 
    overflow-x: hidden;
    max-height: 78vh;
    padding-right: 0px;
   
  }
  .box-carrito:hover{
    overflow-y:auto ;
    
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translatey(0);
    }
    40% {
      transform: translatey(-10px);
    }
    60% {
      transform:translatey(-10px);
    }
  }