@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');


@keyframes ani {
    0%{
        width: 100px;
        height: 100px; 
    }
    100%{
        width: 110px;
    height: 110px; 
    }
}




.section__box-contacto{
display: inline-block;
width: 100%;
height:90vh ;
background: url("https://png.pngtree.com/background/20211215/original/pngtree-abstract-background-aesthetic-picture-image_1467995.jpg") ;

background-size: cover;

margin-top: 12.5vh;
border-bottom: 1px solid #000000;
}


.section__box-child-contacto{
    display: flex;
   justify-content: center;
   
}
.section__box-1-contacto{
     margin-top: 30vh;
  text-shadow:#000000 1px 1px 1px;
 color: #1d1d1d;
   font-size: 11vh;  
   font-family: 'Archivo', sans-serif;
 text-align: center;
}

.section__box-1-contacto h4{
    color: #ffbf00;
   border-bottom: 1px solid  #000000;
}

.section__box-2-contacto{
    display: flex;
  
    font-size: 4vh;
    color:#000000;
 
    margin-top: 1vh;
  
    font-family: 'Raleway', sans-serif;
 
}
.section__box-2-contacto p{
    width: 100vh;
 
  
    
}

.section__box-redesSociales{
    z-index: 1;
  font-size: 3vh;
   display: flex;
   justify-content: space-around;
}
.section__box-redesSociales img{
   
    margin-top: 5vh;
    width: 100px;
    height: 100px;  
    animation: ani 1s infinite alternate;
   cursor:pointer
}
