@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
.body-error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
}
.body-error-cuadro{
    backdrop-filter: blur(20px);
    width: 35%;
    box-shadow: 0 0vh 1.5vh #000000;
 
}
.body-error-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    border-bottom: 1px solid #000000 ;
    background: #000000;
}
.body-error-titulo{
    color: #000000;
    text-align: center;
    padding: 3% 0 .5% 0;
    font-family: 'Sen', sans-serif;
    font-size: 4vh;
    background: #ffffff;
}

.body-error-mensaje{
    color: #000000;
    font-family: 'Sen', sans-serif;
    font-size: 100%;
    text-align: center;
    font-size: 2.5vh;
    padding:  3% ;
    background: #ffffff;
}
.body-error-link{
   
    text-align: center;
    font-size: 3vh;
    padding: 3%;
    font-family: 'Sen', sans-serif;
    background: #ffffff;
    padding: 1.5%;
}
.body-error-link a{
    text-decoration: none;
  
}
@media (max-width:920px){
   

    .body-error-cuadro{
        backdrop-filter: blur(20px);
        width: 85%;
        box-shadow: 0 0vh 1.5vh #000000;
     
    }
}

@media (max-width:576px){
   

    .body-error-cuadro{
        backdrop-filter: blur(20px);
        width: 85%;
        box-shadow: 0 0vh 1.5vh #000000;
     
    }
}