@keyframes particulas {
    0%{
      transform: translateY(0vh) scale(0.2) rotate(90deg) 
    
    }
    100%{
      transform: translateY(85vh) scale(0.3) rotate(90deg) 
  
    }

  }
 
 

.Background-particles{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
 z-index: 0;
}
.particles_{
  position: absolute;
  display: flex;
  z-index: 0;
}
.particles_ span{
    position: relative;
    width: 80px;
    height: 80px;
    background:#000;
   
    margin: 0 4px;
  
    animation: particulas 150s linear infinite;
    animation-duration: calc(30s / var(--i));
}
.coffee-bean {
    width: 10px;
    height: 10px;
    background-image: url('');
    background-size: cover;
    margin: 0 4px;
    animation: particulas 150s linear infinite;
  }
.particles_ span:nth-child(even){
    background:#000;
  
}
    
