@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.carrito{
color: #fff
}
.box-categories{
  display: flex;
  justify-content: space-evenly;
  padding: 5vh;


}
.box-categories button{
  font-size: 3vh;
  background: none;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-bottom: 2px solid  #ffffff;
  cursor: pointer;
  transition: .2s;
  padding: 10px;
  color: #ffffff;
 
}
.box-categories button:hover{

 
  color: #00ffd9;
  transition: .2s;
  border-radius: 30px;
  border: 1px solid #ffffff;
}
.Super-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
}
.box-menu{
    display: flex;
    justify-content: center;
    align-items: center;
 
 

}
.box-menu-2{
border:2px solid #000000 ;
margin-top: 12.5vh;

    width: 75%;
  /*   background: url("https://png.pngtree.com/background/20211215/original/pngtree-abstract-background-aesthetic-picture-image_1467995.jpg");
    background-size: cover; */
    background: #0000005c;
    padding: 20px;

   
}
.Bordercito{
  border-bottom: 2px solid #ffffff;

}
.box-product{
  border-radius: 5px;
  background: #ffffff25;
backdrop-filter: blur(10px);
   background-position: center;
 box-shadow: 2px 2px 5px #000000;
   width: 300px;
   padding: 20px;
  margin: 15px 20px 0px 0px;
  color: #000000;
     border:1px solid #ffffff ;
}

.box-product-image{
display: flex;
justify-content: center;
}
.box-product:hover{
  box-shadow: 1px 1px 4px #000000;
  transition: 0.2s;
 
}
.box-description2{
  height: 100px;
padding: 0 7px 0 0;
text-align: justify;
overflow-y:scroll;

}
.box-description2::-webkit-scrollbar{
  background: #ffffff;
  width: 5px;

}
.box-description2::-webkit-scrollbar-thumb{
  background: #000000;
}
.box-description2:hover{
  overflow-y:scroll ;
}

.box-menu-tittle{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10vh;
    color: #ffffff;
 
}


.box-menu-subtittle a:hover{
color: #00ffff;

}
.box-menu-subtittle a:active{
  color: #5aff73;
  
  }

.box-menu-subtittle {
 display: flex;
    justify-content: space-between;
    font-size: 5vh;
    margin-top: 5vh;
    font-family: 'Outfit', sans-serif;
   border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
   
}
.box-menu-subtittle a{
  text-decoration: none;
  color: #ffffff;
}
.box-description h4{
  
  text-align: center;
 font-size: 25px;
 font-family: 'Outfit', sans-serif;
 font-family: 'Hind Siliguri', sans-serif;
border-bottom: 1px solid #000000;
}
.description{
    font-size: 16px;
    font-family: 'Instrument Sans', sans-serif;
    color: #ffffff;
    font-weight: 600;
}
.price{
    font-size: 30px;
    font-family: 'Instrument Sans', sans-serif;
    text-align: center;
  
}
.box-price-button{
    
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 0 0;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff8c49 0, #f8a539 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
transition: 0.09s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}


.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e07e3c 0 -3px 0 inset;
  transform: translateY(-8px);
}

.button-29:active {
  box-shadow: #e0a73c 0 3px 7px inset;
  transform: translateY(2px);
}
@media (max-width:1300px){
  .box-menu-2{
    margin-top: 20vh;
  }
}
@media (max-width:920px){
  .box-menu-2{
    border:2px solid #000000 ;
    margin-top: 8vh;
      
        width: 100%;
      
    
       
    }
    
    .box-description2{
      height: 100px;
    text-align: justify;
    overflow-y:scroll;

    }
    .description{
      font-size: 1.5vh;
      font-family: 'Instrument Sans', sans-serif;
    
    
  }
    .box-menu-tittle{
      font-size: 8vh;
 
     
  }
  
  .box-description h4{
   
    text-align: center;
   font-size: 2vh;
   font-family: 'Outfit', sans-serif;
   font-family: 'Hind Siliguri', sans-serif;
  border-bottom: 1px solid #000000;
  }
  .box-categories{
    display: flex;
    justify-content: space-evenly;
    padding: 5vh;
  
  
  }
  .box-categories button{
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
   
   
  }

}


@media (max-width:576px){
  .box-menu-2{
    border:2px solid #000000 ;
    margin-top: 15vh;
    
        width: 100%;
        padding: 20px;
       
    }
    
    .box-description2{
      height: 100px;
    text-align: justify;
    overflow-y:scroll;
  
    }
    .box-menu-tittle{
      font-size: 8vh;
 
     
  }
  .box-description h4{
   
    text-align: center;
   font-size: 3vh;
   font-family: 'Outfit', sans-serif;
   font-family: 'Hind Siliguri', sans-serif;
  border-bottom: 1px solid #000000;
  }
  .box-categories{
    display: flex;
    justify-content: space-around;
    padding: 5vh;
  
  
  }
  .box-categories button{
    font-size: 1.6vh;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
   
   
  }

}
