@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
*{
    margin: 0;
    padding: 0;
}
.Barra__navegacion{
   position: fixed; 
   display:flex;
    padding: 15px;
    font-size: 20px;
    background: #ffc653;
    width: 100%;
    box-shadow: 0 2px 5px #000000;
    justify-content: center;
    align-items: center;
    font-family: 'Arimo', sans-serif;
}
.Barra__navegacion-1{
    display: flex;
    justify-content: center;
align-items: center;

}
.Barra__navegacion-1 a{
font-size: 28px;
    margin-left: 35px;
text-decoration: none;
color: #ffffff;

}
.Barra__navegacion-box{
    margin-right: 60vh;
}
.Barra__navegacion-usuario a{
text-decoration: none;
color: rgb(0, 0, 0);
margin-right: 5vh;
}
