@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
}
.Barra__navegacion{
   position: fixed; 
   display:flex;
    padding: 15px;
    font-size: 20px;
    background: #000000bb;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 2px 5px #000000;
    justify-content: center;
    align-items: center;
    font-family: 'Arimo', sans-serif;
    animation-name: navb;
    animation-duration: 0.5s;
 
    
}
.Barra__navegacion-1{
    display: flex;
    justify-content: center;
align-items: center;

}
.Barra__navegacion-1 a{
font-size: 28px;
    margin-left: 35px;
text-decoration: none;
color: #ffffff;
text-shadow: #000000 2px 1px 0px;
transition: 0.2s;

}
.Barra__navegacion-1 a:hover{
text-shadow: 0 0 2px #ffffff;
font-size: 29px;
transition: 0.2s;
}

.Barra__navegacion-box{
    margin-right: 50vh;
}
.Barra__navegacion-usuario a{
text-decoration: none;
color: rgb(255, 255, 255);
margin-right: 5vh;
transition: 0.2s;
}
.Barra__navegacion-usuario{
    display: flex;
    align-items: center;

}

.Barra__navegacion-usuario a:hover{
    text-shadow: 0 0 2px #ffffff;
    transition: 0.2s;
    font-size: 22px;
}
@keyframes navb{
    0%{
    transform: translateY(-200px);
    }
    100%{
  transform: translateY(0px);
    }
}
.Profile-box{
    text-align: center;
    color: #ffffff;

}
.Profile-box img{
    border-radius: 30px;
}
.boton-salir{
    border: none;
    font-size: 24px;
    background: none;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 0 2px #ffffff;
  
}
.boton-salir:hover{
    text-shadow: 0 0 3px #ffffff;
    transition: 0.2s;
    font-size: 22px;
}
.box-boton-salir{
    margin-right: 10vh;
}
.boton-iniciar{
    border: none;
    font-size: 25px;
    background: none;
    color: #ffffff;
    cursor: pointer;
   text-shadow: 1px 2px 0px #000000;
}
.boton-iniciar:hover{
    text-shadow: 0 0 3px #ffffff;
    transition: 0.2s;
    font-size: 27px;
}