@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
}
.Barra__navegacion{
   position: fixed; 
   display:flex;
    padding: 15px;
    font-size: 20px;
    background: #000000bb;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 2px 5px #000000;
    justify-content: center;
    align-items: center;
    font-family: 'Arimo', sans-serif;
    animation-name: navb;
    animation-duration: 0.5s;
 
    
}
.Barra__navegacion-1{
    display: flex;
    justify-content: center;
align-items: center;

}
.Barra__navegacion-1 a{
font-size: 28px;
    margin-left: 35px;
text-decoration: none;
color: #ffffff;
text-shadow: #000000 2px 1px 0px;
transition: 0.2s;

}
.Barra__navegacion-1 a:hover{
text-shadow: 0 0 2px #ffffff;
font-size: 28.5px;
transition: 0.2s;
}

.Barra__navegacion-box{
    margin-right: 60vh;
}
.Barra__navegacion-usuario a{
text-decoration: none;
color: rgb(255, 255, 255);
margin-right: 5vh;
transition: 0.2s;
}
.Barra__navegacion-usuario a:hover{
    
    transition: 0.2s;
}
.Barra__navegacion-usuario a:hover{
    text-shadow: 0 0 2px #ffffff;
    transition: 0.2s;
    font-size: 21px;
}
@keyframes navb{
    0%{
    transform: translateY(-200px);
    }
    100%{
  transform: translateY(0px);
    }
}
