@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');


@keyframes levitacion {
    0%{
transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}




.section__box{
display: inline-block;
width: 100%;
height:90vh ;
background: url("https://png.pngtree.com/background/20211215/original/pngtree-abstract-background-aesthetic-picture-image_1467995.jpg") ;

background-size: cover;

margin-top: 12.5vh;
border-bottom: 1px solid #000000;
}


.section__box-child{
    display: flex;
    justify-content: space-evenly;
   
}
.section__box-1{
     margin-top: 30vh;
  text-shadow:#000000 1px 1px 1px;
 color: #1d1d1d;
   font-size: 11vh;  
   font-family: 'Archivo', sans-serif;
 
}
.section__box-1 b{
    color: #ffbf00;
   
}
.section__box-1 h4{
 
}
.section__box-2{
    display: flex;
  
    font-size: 5vh;
    color:#000000;
 
    margin-top: 1vh;
  
    font-family: 'Raleway', sans-serif;
 
}
.section__box-2 p{
    width: 100vh;
 
  
    
}

.section__box-img{
    z-index: 1;
}
.section__box-img img{
   margin-top: 5vh;
    width: 600px;
    height: 600px;  
    animation: levitacion 1s infinite alternate;
  
}
