@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes levitacion {
    0%{
transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}




.section__box{
display: inline-block;
width: 100%;
height:90vh ;
 background: #00000054;
margin-top: 12vh;
border-bottom: 1px solid #000000;
}


.section__box-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.section__box-1{
     margin-top: 20vh;
  text-shadow:#000000 1px 1px 1px;
 color: #00ffdd;
   font-size: 6vh;  
   font-family: 'Oswald', sans-serif;
 border: #000000;

}
.section__box-1 b{
    color: #ffbf00;
   
}
.section__box-1 h4{
 
}
.section__box-2{
    display: flex;
   justify-content: space-around;
    font-size: 5vh;
    color:#ffffff;
 
    margin-top: 1vh;
  
    font-family: 'Oswald', sans-serif;
 
}
.section__box-2 p{
    width: 100vh;
 
  
    
}

.section__box-img{
    z-index: 1;
}
.section__box-img img{
   margin-top: 5vh;
    width: 600px;
    height:600px;  
    animation: levitacion 2s infinite alternate;
  
}
/* Estilos para pantallas medianas */

@media (max-width:1300px){
    .section__box{
        margin-top: 9vh;
    }
    .section__box-1 {
     
        font-size: 7vh;
       
    }
    .section__box-child{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .section__box-2 {
        font-size: 5vh;
   
    }
    .section__box-img{
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section__box-img img {
        width: 450px;
        height: 450px;
       
    }
    .section__box-2 p{
        width: 90vh;
     
      
        
    }
}

@media (max-width:920px){
    .section__box{
        margin-top: 7vh;
    }
    .section__box-1 {
     
        font-size: 5vh;
        text-align: center;
        margin-top: 12vh;
    }
    .section__box-child{
        display: block;
        justify-content: center;
        align-items: center;
       
    }

    .section__box-2 {
        font-size: 3vh;
   
    }
    .section__box-img{
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section__box-img img {
        width: 349px;
        height: 349px;
       
    }
    .section__box-2 p{
        width: 60vh;
     
      
        
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    .section__box-1 {
        font-size: 3vh;
        text-align: center;
        margin-top: 20vh;
    }
    .section__box-child{
        display: block;
        justify-content: center;
        align-items: center;
       
    }

    .section__box-2 {
        font-size: 3vh;
   
    }
    .section__box-img{
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section__box-img img {
        width: 200px;
        height: 200px;
       
    }
    .section__box-2 p{
        width: 40vh;
     
      
        
    }
}